:root{
  --grey: #474747;
  --darkblue: #102544;
  --lightblue: #1879ca;
  --yellow: #f29206;
  --white: #ffffff;
  --palid: #d9d9d9;
  --greenSend:#5DF370; 
  --fuente: fantasy;
}

body {
  margin: 0;
  padding: 0;
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  justify-content: center; 
  align-items: center;    
}


/*HEADER*/
.head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;    
  background-color: var(--lightblue); 
  box-shadow: 0 2px 4px var(--grey); 
  z-index: 1;
}

.logo img {
  max-width: 20%; 
}

.registro {
  list-style: none;
  padding: 0;
  display: flex;
}

.registro li {
  margin-right: 10px;
}

.registro li:last-child {
  margin-right: 0; 
}

.headerbutton{
  background-color: var(--white);
  color: var(--lightblue);
  border: solid;  
  border-color: var(--lightblue);
  width: 10rem; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.headerbutton:hover{
  background-color: var(--yellow);
  color: var(--white);
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;  
  width: 500px;
  justify-content: space-around;
  text-decoration: none;
}

.nav-list li {  
  text-decoration: none;
  color: var(--white);    
  transition: none; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

.nav-list li:hover {
  color: var(--yellow);
}

.nav-list li:visited{
  text-decoration: none;
}




/*FOOTER*/

.foot {
  background-color: var(--lightblue); 
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;   
  margin: 0;

}

.foot .logo img {
  max-width: 70px; 
}

.foot .redes {
  display: flex;
}

.foot .redes div {
  margin: 0 10px; 
}

.foot .redes img {
  max-width: 30px; 
}

h2 {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.redes {
  display: flex;
}

.redes div {
  position: relative;
  margin-right: 10px; 
}

.redes img {
  width: 30px; 
  height: auto; 
}

.redes img.hoveri {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.redes div:hover .hoveri {
  display: block;
}

.text-contact{
  text-decoration: none;
  color: var(--white);  
}

.text-contact:hover{
  text-decoration: none;
  color: var(--yellow);
}

/*BARRA DE BUSQUEDA*/

.buscador{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightblue);
  box-shadow: 4px 2px 4px var(--grey);  
  padding-bottom: 20px;
  padding-top: 10px;

}

.form-search {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid;
  border-color: var(--yellow);
  background-color: var(--white);
  padding: 5px;  
}

.buscador h1 {
  margin-top: 0; 
  color: var(--white);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buscador label {
  display: inline-block; 
  margin-right: 10px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--darkblue);
}

.buscador input, .buscador select {
  padding: 5px;
  margin-top: 5px;
  margin-right: 10px;
}

.buscarbtn{
  background-color: var(--lightblue);
  color: var(--white);
  border: solid;  
  border-color: var(--lightblue);
  width: 10rem; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buscarbtn:hover{
  background-color: var(--yellow);
  color: var(--white);
  border-color: var(--yellow);
}

/*ContainerCategories*/
.container {
  text-align: center; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin-top: 30px;
}

.container h2 {
  margin-bottom: 20px;
  color: var(--darkblue);
}

.square-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 20px; 
}

.square {
  text-align: center;
}

.square img {
  max-width: 100%;
}

.square h2 {
  margin: 10px 0;
}


/*Galleria*/

.card {
  border: 1px solid var(--darkblue);
  padding: 10px;
  width: 300px;
  margin: 10px;
  display: inline-block;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--darkblue);
}

.card img {
  max-width: 100%;
}

.card h3, .card p {
  margin: 5px 0;
}

.card-details {
  background-color: var(--white);
  padding: 10px;
}

.card-buttons {
  margin-top: 10px;
}

.card button {
  padding: 5px 10px;
  background-color: var(--lightblue);
  color: var(--white);
  border: none;
  cursor: pointer;
  margin: 5px;
}

.card button:hover {
  background-color: var(--yellow);
}

.gallery {
  text-align: center; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;   
}

.gallery h2 {
  color: var(--darkblue);
  margin-bottom: 20px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 10px; 
}

/*Formulario de crear y editar*/


.form-add {
  max-width: 900px;
  margin: 0;
  padding: 20px;
  background-color: var(--white);
  border: 3px solid var(--yellow);
  border-radius: 5px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color: var(--darkblue)
}

.form-group {
  margin-bottom: 20px;
  margin-right: 15px;
}

/* Estilos de etiquetas de formulario */
.form-group label {
  display: block;
  font-weight: bold;
  color: var(--darkblue);
  margin-bottom: 5px;
}

/* Estilos de campos de entrada de formulario */
.form-control {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--lightblue);
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Estilos de selecciones de formulario */
.form-control select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--lightblue);
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--yellow);
  margin-bottom: 10px;
}

/* Estilos de botones de formulario */
.btn {
  background-color: var(--lightblue);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--yellow);
}
















