:root {
  --grey: #474747;
  --darkblue: #102544;
  --lightblue: #247fcc;
  --yellow: #f29206;
  --white: #ffffff;
  --palid: #d9d9d9;

}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regForm {
  background-color: var(--lightblue);  
  border: solid var(--yellow);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  padding: 20px;
  width: 40%;
}

.regForm h1 {
  color: var(--white);
  text-align: center;
}

.regForm form {
  width: 30%; 
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.regForm label {
  color: var(--darkblue);
  font-weight: bold;
  text-align: left; /* Alinea el texto del label a la izquierda */
}

.regForm input,
.regForm select {
  width: 100%; /* Asegura que los campos de entrada ocupen todo el ancho del formulario */
  padding: 5px;
  border: 1px solid var(--palid);
  border-radius: 5px;
}

.regForm button {
  background-color: var(--yellow);
  color: var(--darkblue);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.regForm button:hover {
  background-color: var(--darkblue);
  color: var(--yellow); 
}

  